<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="%date [%-5level] [%C] [%M] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="Execution.tag" value="smokeTest1" />
    <add key="DBReporting.Host" value="104.45.31.211" />
    <add key="DBReporting.Username" value="AUITU" />
    <add key="DBReporting.Password" value="testauto" />
    <add key="DBReporting.DataBase" value="test" />
    <add key="TestRail.url" value="https://bedegaming.testrail.com/" />
    <add key="TestRail.username" value="sos+AutomatedUITests@bedegaming.com" />
    <add key="TestRail.password" value="Cgsye2hyS5Ubl0T3Dr2w" />
  </appSettings>
</configuration>